* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: Hahmlet, Arial, sans-serif; /* necessário aspas quando o nome possui palavras separadas */
  color: #141414;
}

.subtitulo {
  font-size: 8rem;
  font-family: "Carter One";
  line-height: 1.1;
  letter-spacing: 4px;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}
